// Box Mixins
//
// @since 2.0
//
// @param @c - desired background color
.shortcode-box( @c: #aaa ) {
    background-color: @c;
    clear: both;
    margin: 1em 0;
    padding: 1em;

    i.pull-left {
        margin-right: 0.75em;
    }
}

.shortcode-box( @c: #aaa ) when ( lightness( @c ) >= 66% ) {
    color: darken( @c, 55% );

    a {
        color: lighten( @c, 45% );

        &:hover {
            text-decoration: underline;
        }
    }
}

.shortcode-box( @c: #aaa ) when ( lightness( @c ) < 66% ) {
    color: #fff;

    a {
        color: darken( @c, 45% );

        &:hover {
            text-decoration: underline;
        }
    }

}

/* Box Styling
------------------------------------------------------------ */
.arconix-box-blue {
    .shortcode-box( #214b8a );
}

.arconix-box-green {
    .shortcode-box( #36a563 );
}

.arconix-box-grey {
    .shortcode-box( #f2f2f2 );
}

.arconix-box-red {
    .shortcode-box( #e5684b );
}

.arconix-box-tan {
    .shortcode-box( #e5aC4b );
}

.arconix-box-yellow {
    .shortcode-box( #fee975 );
}

.arconix-box-purple {
    .shortcode-box( #923195 );
}

.arconix-box-black {
    .shortcode-box( #333 );
}

.arconix-box-orange {
    .shortcode-box( #cf5300 );
}