// Button Mixins
// ---------------------------------------------------------

// ----------------------------------------------
// Button Setup -- Base config of the button
// ----------------------------------------------
.shortcode-button() {
    cursor: pointer;
    display: inline-block;
    margin-bottom: 10px;
    font-weight: normal;
    text-align: center;
    vertical-align: middle;
    background-image: none;
    white-space: nowrap;
    line-height: 1.5;
    text-decoration: none;

    &:hover { text-decoration: none; }
}

// ----------------------------------------------
// Button Color -- Creates the color scheme for the button
// ----------------------------------------------
.shortcode-button-color-standard( @c: #aaa ) {
    border: solid 1px darken( @c, 10% );
    background: @c;    
    #gradient > .vertical( lighten( @c, 15% ), @c );
    
    &:hover {
        background: @c;
    }
    
    .shortcode-button-text-color( @c );
}

.shortcode-button-color-flat( @c: #aaa ) {
    background: @c;
    .shortcode-button-text-color( @c );
    
    &:hover {
        background: darken( @c, 10% );
    }
}

.shortcode-button-color-clear ( @c: #aaa ) {
    border: 1px solid @c;
    background: transparent;
    color: @c;
    
    &:hover {
        background: @c;
        .shortcode-button-text-color( @c );
    }
}

// Determines the text color based on the passed color
.shortcode-button-text-color( @c: #aaa ) when ( lightness( @c ) >= 66% ) { color: #606060 !important; }
.shortcode-button-text-color( @c: #aaa ) when ( lightness( @c ) < 66% ) { color: #fff !important; }



/* Button Styling
------------------------------------------------------------ */
.arconix-button,
.arconix-button-flat,
.arconix-button-clear {
    .shortcode-button();
}
.arconix-button {
    .radius( 8px );
    .box-shadow-inset( 0, 1px, 0, 0, #ccc );
}

i.fa {
    margin-right: 0.3em;
}

.arconix-button {
    &.arconix-button-black { .shortcode-button-color-standard( @black ); }
    &.arconix-button-blue { .shortcode-button-color-standard( @blue ); }
    &.arconix-button-green { .shortcode-button-color-standard( @green ); }
    &.arconix-button-grey,
    &.arconix-button-gray { .shortcode-button-color-standard( @gray ); }
    &.arconix-button-orange { .shortcode-button-color-standard( @orange ); }
    &.arconix-button-purple { .shortcode-button-color-standard( @purple ); }
    &.arconix-button-red { .shortcode-button-color-standard( @red ); }
    &.arconix-button-tan { .shortcode-button-color-standard( @tan ); }
    &.arconix-button-yellow { .shortcode-button-color-standard( @yellow ); }
    &.arconix-button-white { .shortcode-button-color-standard( @white ); }
}

.arconix-button-xl {
    font: 20px Arial, Helvetica, sans-serif;
    padding: 12px 48px 13px;
}

.arconix-button-large {
    font: 16px Arial, Helvetica, sans-serif;
    padding: 9px 36px 10px;
}

.arconix-button-medium {
    font: 13px Arial, Helvetica, sans-serif;
    padding: 6px 24px 7px;
}

.arconix-button-small {
    font: 11px Arial, Helvetica, sans-serif;
    padding: 3px 8px 4px;
}