/*
ARCONIX SHORTCODES CSS
-------------------------------------------

PLEASE DO NOT make modifications to this file directly as it will be overwritten on update.
Instead, save a copy of this file to your theme or child theme directory. It will then be
loaded in place of the plugin's version and will maintain your changes on upgrade

IMPORTANT NOTE: Since the directory structure will be changing, and image URLS are always loaded
relative to their current path, the links to the images in this file will also need to change.

For example:

    'url(../../images ...'

would have to be changed to

    'url(../../plugins/arconix-shortcodes/images ...'

in order to for the images to be displayed.
*/
/* Abbreviation Styling
------------------------------------------------------------ */
.arconix-abbr {
  border-bottom: 1px dotted #ccc;
  cursor: help;
}
/* Column Classes
------------------------------------------------------------ */
.arconix-column-four-fifths,
.arconix-column-one-fifth,
.arconix-column-one-fourth,
.arconix-column-one-half,
.arconix-column-one-third,
.arconix-column-three-fifths,
.arconix-column-three-fourths,
.arconix-column-two-fifths,
.arconix-column-two-fourths,
.arconix-column-two-thirds {
  float: left;
  margin: 0 0 20px;
  padding-right: 3%;
}
.arconix-column-one-half,
.arconix-column-two-fourths {
  width: 48%;
}
.arconix-column-one-third {
  width: 31%;
}
.arconix-column-two-thirds {
  width: 65%;
}
.arconix-column-one-fourth {
  width: 22.5%;
}
.arconix-column-three-fourths {
  width: 73.5%;
}
.arconix-column-one-fifth {
  width: 17.4%;
}
.arconix-column-two-fifths {
  width: 37.8%;
}
.arconix-column-three-fifths {
  width: 58.2%;
}
.arconix-column-four-fifths {
  width: 78.6%;
}
.arconix-column-last {
  clear: right;
  padding-right: 0;
}
/* Highlight
------------------------------------------------------------ */
.arconix-highlight {
  padding: 3px 4px;
}
.arconix-highlight-yellow {
  background-color: #ffff33;
}
/* Accordion Styling
------------------------------------------------------------ */
.arconix-accordions {
  border: 1px solid #ddd;
  border-bottom: none;
  margin: 10px 0 !important;
}
.arconix-accordions i.fa {
  margin: 0 .75em;
}
/* Accordion Title */
div.arconix-accordion-title {
  background-color: #e9e9e9;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #ddd;
  color: #333 !important;
  cursor: pointer;
  font-size: 14px;
  font-weight: normal;
  letter-spacing: 1.6px;
  line-height: 21px;
  margin: 0 !important;
  padding: 5px;
  text-transform: uppercase;
}
div.arconix-accordion-title i.fa:before {
  content: "\f0da";
  /* fa-caret-right */
}
div.arconix-accordion-title.current {
  background: #e9e9e9;
}
div.arconix-accordion-title.current i.fa:before {
  content: "\f0d7";
  /* fa-caret-down */
}
div.arconix-accordion-title:hover {
  background-color: #f0f0f0;
}
.arconix-accordion-title.current,
.arconix-accordion-title.current:hover,
.arconix-accordion-title.current:active {
  background-color: #f0f0f0;
  cursor: default;
}
/* Individual Accordion Content Pane */
.arconix-accordion-content {
  background-color: #fbfbfb;
  border-bottom: 1px solid #ddd;
  display: none;
  height: auto;
  padding: 15px;
  color: #333;
  font-size: 12px;
}
/* a title inside pane */
.arconix-accordions-vertical .arconix-accordion-content h4 {
  font-weight: normal;
  margin: 0 0 -5px 0;
  font-size: 16px;
  color: #666;
}
/* Box Styling
------------------------------------------------------------ */
.arconix-box {
  clear: both;
  margin: 1em 0;
  padding: 1em;
}
.arconix-box i.pull-left {
  margin-right: 0.75em;
}
.arconix-box a {
  text-decoration: none;
}
.arconix-box a:hover {
  text-decoration: none;
}
.arconix-box-blue {
  background-color: #214b8a;
  color: #fff;
}
.arconix-box-blue a {
  color: #000000;
}
.arconix-box-green {
  background-color: #36a563;
  color: #fff;
}
.arconix-box-green a {
  color: #000000;
}
.arconix-box-gray {
  background-color: #f2f2f2;
  color: #666666;
}
.arconix-box-red {
  background-color: #e5684b;
  color: #fff;
}
.arconix-box-red a {
  color: #411409;
}
.arconix-box-tan {
  background-color: #e5ac4b;
  color: #fff;
}
.arconix-box-tan a {
  color: #412c09;
}
.arconix-box-yellow {
  background-color: #fee975;
  color: #5a4c01;
}
.arconix-box-purple {
  background-color: #923195;
  color: #fff;
}
.arconix-box-purple a {
  color: #000000;
}
.arconix-box-black {
  background-color: #333333;
  color: #fff;
}
.arconix-box-black a {
  color: #000000;
}
.arconix-box-orange {
  background-color: #cf5300;
  color: #fff;
}
.arconix-box-orange a {
  color: #000000;
}
/* Button Styling
------------------------------------------------------------ */
.arconix-button,
.arconix-button-flat,
.arconix-button-clear {
  cursor: pointer;
  display: inline-block;
  margin-bottom: 10px;
  font-weight: normal;
  text-align: center;
  vertical-align: middle;
  background-image: none;
  white-space: nowrap;
  line-height: 1.5;
  text-decoration: none;
}
.arconix-button:hover,
.arconix-button-flat:hover,
.arconix-button-clear:hover {
  text-decoration: none;
}
.arconix-button i.fa,
.arconix-button-flat i.fa,
.arconix-button-clear i.fa {
  margin-right: 0.5em;
}
.arconix-button {
  -webkit-border-radius: 8px 5px 5px 5px;
  -moz-border-radius: 8px 5px 5px 5px;
  -o-border-radius: 8px 5px 5px 5px;
  border-radius: 8px 5px 5px 5px;
  -webkit-box-shadow: inset 0 1px 0 0 #cccccc;
  -moz-box-shadow: inset 0 1px 0 0 #cccccc;
  box-shadow: inset 0 1px 0 0 #cccccc;
}
.arconix-button.arconix-button-black {
  border: solid 1px #1a1a1a;
  background: #333333;
  background-color: #4a4a4a;
  background-image: -webkit-linear-gradient(top, #595959, #333333);
  background-image: -moz-linear-gradient(top, #595959, #333333);
  background-image: -o-linear-gradient(top, #595959, #333333);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#595959), to(#333333));
  background-image: linear-gradient(top, #595959, #333333);
  background-repeat: repeat-x;
  color: #fff !important;
}
.arconix-button.arconix-button-black:hover {
  background: #333333;
}
.arconix-button.arconix-button-black:visited {
  color: #fff !important;
}
.arconix-button.arconix-button-blue {
  border: solid 1px #173561;
  background: #214b8a;
  background-color: #2a5faf;
  background-image: -webkit-linear-gradient(top, #306dc8, #214b8a);
  background-image: -moz-linear-gradient(top, #306dc8, #214b8a);
  background-image: -o-linear-gradient(top, #306dc8, #214b8a);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#306dc8), to(#214b8a));
  background-image: linear-gradient(top, #306dc8, #214b8a);
  background-repeat: repeat-x;
  color: #fff !important;
}
.arconix-button.arconix-button-blue:hover {
  background: #214b8a;
}
.arconix-button.arconix-button-blue:visited {
  color: #fff !important;
}
.arconix-button.arconix-button-green {
  border: solid 1px #297f4c;
  background: #36a563;
  background-color: #4ebb7a;
  background-image: -webkit-linear-gradient(top, #5dca89, #36a563);
  background-image: -moz-linear-gradient(top, #5dca89, #36a563);
  background-image: -o-linear-gradient(top, #5dca89, #36a563);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#5dca89), to(#36a563));
  background-image: linear-gradient(top, #5dca89, #36a563);
  background-repeat: repeat-x;
  color: #fff !important;
}
.arconix-button.arconix-button-green:hover {
  background: #36a563;
}
.arconix-button.arconix-button-green:visited {
  color: #fff !important;
}
.arconix-button.arconix-button-grey,
.arconix-button.arconix-button-gray {
  border: solid 1px #555555;
  background: #6e6e6e;
  background-color: #858585;
  background-image: -webkit-linear-gradient(top, #949494, #6e6e6e);
  background-image: -moz-linear-gradient(top, #949494, #6e6e6e);
  background-image: -o-linear-gradient(top, #949494, #6e6e6e);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#949494), to(#6e6e6e));
  background-image: linear-gradient(top, #949494, #6e6e6e);
  background-repeat: repeat-x;
  color: #fff !important;
}
.arconix-button.arconix-button-grey:hover,
.arconix-button.arconix-button-gray:hover {
  background: #6e6e6e;
}
.arconix-button.arconix-button-grey:visited,
.arconix-button.arconix-button-gray:visited {
  color: #fff !important;
}
.arconix-button.arconix-button-orange {
  border: solid 1px #9c3f00;
  background: #cf5300;
  background-color: #ec6911;
  background-image: -webkit-linear-gradient(top, #ff771d, #cf5300);
  background-image: -moz-linear-gradient(top, #ff771d, #cf5300);
  background-image: -o-linear-gradient(top, #ff771d, #cf5300);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ff771d), to(#cf5300));
  background-image: linear-gradient(top, #ff771d, #cf5300);
  background-repeat: repeat-x;
  color: #fff !important;
}
.arconix-button.arconix-button-orange:hover {
  background: #cf5300;
}
.arconix-button.arconix-button-orange:visited {
  color: #fff !important;
}
.arconix-button.arconix-button-purple {
  border: solid 1px #6c246f;
  background: #923195;
  background-color: #ae42b2;
  background-image: -webkit-linear-gradient(top, #c14ec5, #923195);
  background-image: -moz-linear-gradient(top, #c14ec5, #923195);
  background-image: -o-linear-gradient(top, #c14ec5, #923195);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#c14ec5), to(#923195));
  background-image: linear-gradient(top, #c14ec5, #923195);
  background-repeat: repeat-x;
  color: #fff !important;
}
.arconix-button.arconix-button-purple:hover {
  background: #923195;
}
.arconix-button.arconix-button-purple:visited {
  color: #fff !important;
}
.arconix-button.arconix-button-red {
  border: solid 1px #dd4420;
  background: #e5684b;
  background-color: #eb8a73;
  background-image: -webkit-linear-gradient(top, #efa08e, #e5684b);
  background-image: -moz-linear-gradient(top, #efa08e, #e5684b);
  background-image: -o-linear-gradient(top, #efa08e, #e5684b);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#efa08e), to(#e5684b));
  background-image: linear-gradient(top, #efa08e, #e5684b);
  background-repeat: repeat-x;
  color: #fff !important;
}
.arconix-button.arconix-button-red:hover {
  background: #e5684b;
}
.arconix-button.arconix-button-red:visited {
  color: #fff !important;
}
.arconix-button.arconix-button-tan {
  border: solid 1px #dd9720;
  background: #e5ac4b;
  background-color: #ebbe73;
  background-image: -webkit-linear-gradient(top, #efcb8e, #e5ac4b);
  background-image: -moz-linear-gradient(top, #efcb8e, #e5ac4b);
  background-image: -o-linear-gradient(top, #efcb8e, #e5ac4b);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#efcb8e), to(#e5ac4b));
  background-image: linear-gradient(top, #efcb8e, #e5ac4b);
  background-repeat: repeat-x;
  color: #fff !important;
}
.arconix-button.arconix-button-tan:hover {
  background: #e5ac4b;
}
.arconix-button.arconix-button-tan:visited {
  color: #fff !important;
}
.arconix-button.arconix-button-yellow {
  border: solid 1px #fee142;
  background: #fee975;
  background-color: #fef0a3;
  background-image: -webkit-linear-gradient(top, #fff5c1, #fee975);
  background-image: -moz-linear-gradient(top, #fff5c1, #fee975);
  background-image: -o-linear-gradient(top, #fff5c1, #fee975);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#fff5c1), to(#fee975));
  background-image: linear-gradient(top, #fff5c1, #fee975);
  background-repeat: repeat-x;
  color: #606060 !important;
}
.arconix-button.arconix-button-yellow:hover {
  background: #fee975;
}
.arconix-button.arconix-button-yellow:visited {
  color: #606060 !important;
}
.arconix-button.arconix-button-white {
  border: solid 1px #e6e6e6;
  background: #ffffff;
  background-color: #ffffff;
  background-image: -webkit-linear-gradient(top, #ffffff, #ffffff);
  background-image: -moz-linear-gradient(top, #ffffff, #ffffff);
  background-image: -o-linear-gradient(top, #ffffff, #ffffff);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#ffffff));
  background-image: linear-gradient(top, #ffffff, #ffffff);
  background-repeat: repeat-x;
  color: #606060 !important;
}
.arconix-button.arconix-button-white:hover {
  background: #ffffff;
}
.arconix-button.arconix-button-white:visited {
  color: #606060 !important;
}
.arconix-button-flat.arconix-button-black {
  background: #333333;
  color: #fff !important;
}
.arconix-button-flat.arconix-button-black:visited {
  color: #fff !important;
}
.arconix-button-flat.arconix-button-black:hover {
  background: #1a1a1a;
}
.arconix-button-flat.arconix-button-blue {
  background: #214b8a;
  color: #fff !important;
}
.arconix-button-flat.arconix-button-blue:visited {
  color: #fff !important;
}
.arconix-button-flat.arconix-button-blue:hover {
  background: #173561;
}
.arconix-button-flat.arconix-button-green {
  background: #36a563;
  color: #fff !important;
}
.arconix-button-flat.arconix-button-green:visited {
  color: #fff !important;
}
.arconix-button-flat.arconix-button-green:hover {
  background: #297f4c;
}
.arconix-button-flat.arconix-button-grey,
.arconix-button-flat.arconix-button-gray {
  background: #6e6e6e;
  color: #fff !important;
}
.arconix-button-flat.arconix-button-grey:visited,
.arconix-button-flat.arconix-button-gray:visited {
  color: #fff !important;
}
.arconix-button-flat.arconix-button-grey:hover,
.arconix-button-flat.arconix-button-gray:hover {
  background: #555555;
}
.arconix-button-flat.arconix-button-orange {
  background: #cf5300;
  color: #fff !important;
}
.arconix-button-flat.arconix-button-orange:visited {
  color: #fff !important;
}
.arconix-button-flat.arconix-button-orange:hover {
  background: #9c3f00;
}
.arconix-button-flat.arconix-button-purple {
  background: #923195;
  color: #fff !important;
}
.arconix-button-flat.arconix-button-purple:visited {
  color: #fff !important;
}
.arconix-button-flat.arconix-button-purple:hover {
  background: #6c246f;
}
.arconix-button-flat.arconix-button-red {
  background: #e5684b;
  color: #fff !important;
}
.arconix-button-flat.arconix-button-red:visited {
  color: #fff !important;
}
.arconix-button-flat.arconix-button-red:hover {
  background: #dd4420;
}
.arconix-button-flat.arconix-button-tan {
  background: #e5ac4b;
  color: #fff !important;
}
.arconix-button-flat.arconix-button-tan:visited {
  color: #fff !important;
}
.arconix-button-flat.arconix-button-tan:hover {
  background: #dd9720;
}
.arconix-button-flat.arconix-button-yellow {
  background: #fee975;
  border: 1px solid #fee142 !important;
  color: #606060 !important;
}
.arconix-button-flat.arconix-button-yellow:visited {
  color: #606060 !important;
}
.arconix-button-flat.arconix-button-yellow:hover {
  background: #fee142;
}
.arconix-button-flat.arconix-button-white {
  background: #ffffff;
  border: 1px solid #e6e6e6 !important;
  color: #606060 !important;
}
.arconix-button-flat.arconix-button-white:visited {
  color: #606060 !important;
}
.arconix-button-flat.arconix-button-white:hover {
  background: #e6e6e6;
}
.arconix-button-clear.arconix-button-black {
  -webkit-border-radius: 5px 5px 5px 5px;
  -moz-border-radius: 5px 5px 5px 5px;
  -o-border-radius: 5px 5px 5px 5px;
  border-radius: 5px 5px 5px 5px;
  border: 1px solid #333333;
  background: transparent;
  color: #333333;
}
.arconix-button-clear.arconix-button-black:hover {
  background: #333333;
  color: #fff !important;
}
.arconix-button-clear.arconix-button-black:hover:visited {
  color: #fff !important;
}
.arconix-button-clear.arconix-button-black:active,
.arconix-button-clear.arconix-button-black:visited {
  color: #333333;
}
.arconix-button-clear.arconix-button-blue {
  -webkit-border-radius: 5px 5px 5px 5px;
  -moz-border-radius: 5px 5px 5px 5px;
  -o-border-radius: 5px 5px 5px 5px;
  border-radius: 5px 5px 5px 5px;
  border: 1px solid #214b8a;
  background: transparent;
  color: #214b8a;
}
.arconix-button-clear.arconix-button-blue:hover {
  background: #214b8a;
  color: #fff !important;
}
.arconix-button-clear.arconix-button-blue:hover:visited {
  color: #fff !important;
}
.arconix-button-clear.arconix-button-blue:active,
.arconix-button-clear.arconix-button-blue:visited {
  color: #214b8a;
}
.arconix-button-clear.arconix-button-green {
  -webkit-border-radius: 5px 5px 5px 5px;
  -moz-border-radius: 5px 5px 5px 5px;
  -o-border-radius: 5px 5px 5px 5px;
  border-radius: 5px 5px 5px 5px;
  border: 1px solid #36a563;
  background: transparent;
  color: #36a563;
}
.arconix-button-clear.arconix-button-green:hover {
  background: #36a563;
  color: #fff !important;
}
.arconix-button-clear.arconix-button-green:hover:visited {
  color: #fff !important;
}
.arconix-button-clear.arconix-button-green:active,
.arconix-button-clear.arconix-button-green:visited {
  color: #36a563;
}
.arconix-button-clear.arconix-button-grey,
.arconix-button-clear.arconix-button-gray {
  -webkit-border-radius: 5px 5px 5px 5px;
  -moz-border-radius: 5px 5px 5px 5px;
  -o-border-radius: 5px 5px 5px 5px;
  border-radius: 5px 5px 5px 5px;
  border: 1px solid #6e6e6e;
  background: transparent;
  color: #6e6e6e;
}
.arconix-button-clear.arconix-button-grey:hover,
.arconix-button-clear.arconix-button-gray:hover {
  background: #6e6e6e;
  color: #fff !important;
}
.arconix-button-clear.arconix-button-grey:hover:visited,
.arconix-button-clear.arconix-button-gray:hover:visited {
  color: #fff !important;
}
.arconix-button-clear.arconix-button-grey:active,
.arconix-button-clear.arconix-button-gray:active,
.arconix-button-clear.arconix-button-grey:visited,
.arconix-button-clear.arconix-button-gray:visited {
  color: #6e6e6e;
}
.arconix-button-clear.arconix-button-orange {
  -webkit-border-radius: 5px 5px 5px 5px;
  -moz-border-radius: 5px 5px 5px 5px;
  -o-border-radius: 5px 5px 5px 5px;
  border-radius: 5px 5px 5px 5px;
  border: 1px solid #cf5300;
  background: transparent;
  color: #cf5300;
}
.arconix-button-clear.arconix-button-orange:hover {
  background: #cf5300;
  color: #fff !important;
}
.arconix-button-clear.arconix-button-orange:hover:visited {
  color: #fff !important;
}
.arconix-button-clear.arconix-button-orange:active,
.arconix-button-clear.arconix-button-orange:visited {
  color: #cf5300;
}
.arconix-button-clear.arconix-button-purple {
  -webkit-border-radius: 5px 5px 5px 5px;
  -moz-border-radius: 5px 5px 5px 5px;
  -o-border-radius: 5px 5px 5px 5px;
  border-radius: 5px 5px 5px 5px;
  border: 1px solid #923195;
  background: transparent;
  color: #923195;
}
.arconix-button-clear.arconix-button-purple:hover {
  background: #923195;
  color: #fff !important;
}
.arconix-button-clear.arconix-button-purple:hover:visited {
  color: #fff !important;
}
.arconix-button-clear.arconix-button-purple:active,
.arconix-button-clear.arconix-button-purple:visited {
  color: #923195;
}
.arconix-button-clear.arconix-button-red {
  -webkit-border-radius: 5px 5px 5px 5px;
  -moz-border-radius: 5px 5px 5px 5px;
  -o-border-radius: 5px 5px 5px 5px;
  border-radius: 5px 5px 5px 5px;
  border: 1px solid #e5684b;
  background: transparent;
  color: #e5684b;
}
.arconix-button-clear.arconix-button-red:hover {
  background: #e5684b;
  color: #fff !important;
}
.arconix-button-clear.arconix-button-red:hover:visited {
  color: #fff !important;
}
.arconix-button-clear.arconix-button-red:active,
.arconix-button-clear.arconix-button-red:visited {
  color: #e5684b;
}
.arconix-button-clear.arconix-button-tan {
  -webkit-border-radius: 5px 5px 5px 5px;
  -moz-border-radius: 5px 5px 5px 5px;
  -o-border-radius: 5px 5px 5px 5px;
  border-radius: 5px 5px 5px 5px;
  border: 1px solid #e5ac4b;
  background: transparent;
  color: #e5ac4b;
}
.arconix-button-clear.arconix-button-tan:hover {
  background: #e5ac4b;
  color: #fff !important;
}
.arconix-button-clear.arconix-button-tan:hover:visited {
  color: #fff !important;
}
.arconix-button-clear.arconix-button-tan:active,
.arconix-button-clear.arconix-button-tan:visited {
  color: #e5ac4b;
}
.arconix-button-clear.arconix-button-yellow {
  -webkit-border-radius: 5px 5px 5px 5px;
  -moz-border-radius: 5px 5px 5px 5px;
  -o-border-radius: 5px 5px 5px 5px;
  border-radius: 5px 5px 5px 5px;
  border: 1px solid #fee975;
  background: transparent;
  color: #fee975;
}
.arconix-button-clear.arconix-button-yellow:hover {
  background: #fee975;
  color: #606060 !important;
}
.arconix-button-clear.arconix-button-yellow:hover:visited {
  color: #606060 !important;
}
.arconix-button-clear.arconix-button-yellow:active,
.arconix-button-clear.arconix-button-yellow:visited {
  color: #fee975;
}
.arconix-button-clear.arconix-button-white {
  -webkit-border-radius: 5px 5px 5px 5px;
  -moz-border-radius: 5px 5px 5px 5px;
  -o-border-radius: 5px 5px 5px 5px;
  border-radius: 5px 5px 5px 5px;
  border: 1px solid #ffffff;
  background: transparent;
  color: #ffffff;
}
.arconix-button-clear.arconix-button-white:hover {
  background: #ffffff;
  color: #606060 !important;
}
.arconix-button-clear.arconix-button-white:hover:visited {
  color: #606060 !important;
}
.arconix-button-clear.arconix-button-white:active,
.arconix-button-clear.arconix-button-white:visited {
  color: #ffffff;
}
.arconix-button-xl {
  font: 24px Arial, Helvetica, sans-serif;
  padding: 12px 38px 13px;
}
.arconix-button-large {
  font: 16px Arial, Helvetica, sans-serif;
  padding: 9px 28px 10px;
}
.arconix-button-medium {
  font: 13px Arial, Helvetica, sans-serif;
  padding: 6px 24px 7px;
}
.arconix-button-small {
  font: 11px Arial, Helvetica, sans-serif;
  padding: 3px 8px 4px;
}
/* Tabs Styling
------------------------------------------------------------ */
/* Tabs - Horizontal
------------------------------------------------------------ */
.arconix-tabs-horizontal {
  clear: both;
  margin-bottom: 25px;
  /* Tabs  */
  /* Panes */
}
.arconix-tabs-horizontal ul.arconix-tabs {
  margin: 0 !important;
  padding: 0;
  border-bottom: 1px solid #ddd;
  height: 30px;
  /* Individual Tab */
  /* Active Tab */
}
.arconix-tabs-horizontal ul.arconix-tabs li {
  list-style: none !important;
  float: left;
  text-indent: 0;
  padding: 0;
  margin: 0;
  margin-right: 5px;
  position: relative;
  top: -1px;
  /* Indivdual Tab link Text */
}
.arconix-tabs-horizontal ul.arconix-tabs li a {
  -webkit-border-radius: 5px 5px 0 0;
  -moz-border-radius: 5px 5px 0 0;
  -o-border-radius: 5px 5px 0 0;
  border-radius: 5px 5px 0 0;
  background-color: #eee;
  border: 1px solid #ccc;
  color: #333;
  display: block;
  font-size: 15px;
  height: 30px;
  line-height: 30px;
  margin: 0;
  padding: 0 10px;
  position: relative;
  text-align: center;
  text-decoration: none;
  min-width: 80px;
  width: auto;
  /* Individual Tab Hover state */
}
.arconix-tabs-horizontal ul.arconix-tabs li a:active {
  outline: none;
}
.arconix-tabs-horizontal ul.arconix-tabs li a:hover {
  background-color: #e9e9e9;
}
.arconix-tabs-horizontal ul.arconix-tabs a.current,
.arconix-tabs-horizontal ul.arconix-tabs a.current:hover,
.arconix-tabs-horizontal ul.arconix-tabs li.current a {
  background-color: #fbfbfb;
  border-bottom: 1px solid #fbfbfb;
  cursor: default !important;
  color: #333 !important;
}
.arconix-tabs-horizontal .arconix-panes {
  background-color: #fbfbfb;
  border: 1px solid #ccc;
  border-top: none;
  clear: both;
  overflow: hidden;
  padding-bottom: 15px;
  position: relative;
  top: -1px;
}
.arconix-tabs-horizontal .arconix-panes .arconix-pane {
  padding: 20px 15px 0;
}
/* Toggle Styling
------------------------------------------------------------ */
.arconix-toggle-wrap {
  -webkit-border-radius: 5px 5px 5px 5px;
  -moz-border-radius: 5px 5px 5px 5px;
  -o-border-radius: 5px 5px 5px 5px;
  border-radius: 5px 5px 5px 5px;
  background: none repeat scroll 0 0 #fbfbfb;
  clear: both;
  border: 1px solid #d0d0d0;
  margin: 10px inherit;
  padding: 5px 10px;
}
.arconix-toggle-title {
  cursor: pointer;
  font-size: 16px;
  position: relative;
}
.arconix-toggle-title i.fa {
  margin-right: 15px;
  color: #b0b0b0;
}
.arconix-toggle-content {
  margin-left: 10px;
  padding: 15px 20px;
}
/* Unordered list Styling
------------------------------------------------------------ */
.arconix-list ul,
.arconix-list li {
  list-style: none;
}
.arconix-list i.fa-li {
  margin-top: 3px;
}
.arconix-list i.fa-li.black {
  color: #333333;
}
.arconix-list i.fa-li.blue {
  color: #214b8a;
}
.arconix-list i.fa-li.green {
  color: #36a563;
}
.arconix-list i.fa-li.gray,
.arconix-list i.fa-li.grey {
  color: #f2f2f2;
}
.arconix-list i.fa-li.orange {
  color: #cf5300;
}
.arconix-list i.fa-li.purple {
  color: #923195;
}
.arconix-list i.fa-li.red {
  color: #e5684b;
}
.arconix-list i.fa-li.tan {
  color: #e5ac4b;
}
.arconix-list i.fa-li.white {
  color: #ffffff;
}
.arconix-list i.fa-li.yellow {
  color: #fee975;
}
.arconix-box-red {
  background-color: #e5684b;
  color: #fff;
}
.arconix-box-red a {
  color: #411409;
}
.arconix-box-tan {
  background-color: #e5ac4b;
  color: #fff;
}
.arconix-box-tan a {
  color: #412c09;
}
.arconix-box-yellow {
  background-color: #fee975;
  color: #5a4c01;
}
.arconix-box-purple {
  background-color: #923195;
  color: #fff;
}
.arconix-box-purple a {
  color: #000000;
}
.arconix-box-black {
  background-color: #333333;
  color: #fff;
}
.arconix-box-black a {
  color: #000000;
}
.arconix-box-orange {
  background-color: #cf5300;
  color: #fff;
}
.arconix-box-orange a {
  color: #000000;
}
/*# sourceMappingURL=arconix-shortcodes.css.map */