/* 
ARCONIX SHORTCODES CSS
-------------------------------------------

PLEASE DO NOT make modifications to this file directly as it will be overwritten on update.
Instead, save a copy of this file to your theme or child theme directory. It will then be
loaded in place of the plugin's version and will maintain your changes on upgrade

IMPORTANT NOTE: Since the directory structure will be changing, and image URLS are always loaded
relative to their current path, the links to the images in this file will also need to change. 

For example:

    'url(../../images ...'

would have to be changed to

    'url(../../plugins/arconix-shortcodes/images ...'

in order to for the images to be displayed.
*/
/* Box Styling
------------------------------------------------------------ */
.arconix-box-blue {
  background-color: #214b8a;
  clear: both;
  margin: 1em 0;
  padding: 1em;
  color: #fff;
}
.arconix-box-blue i.pull-left {
  margin-right: 0.75em;
}
.arconix-box-blue a {
  color: #000000;
}
.arconix-box-blue a:hover {
  text-decoration: underline;
}
.arconix-box-green {
  background-color: #36a563;
  clear: both;
  margin: 1em 0;
  padding: 1em;
  color: #fff;
}
.arconix-box-green i.pull-left {
  margin-right: 0.75em;
}
.arconix-box-green a {
  color: #000000;
}
.arconix-box-green a:hover {
  text-decoration: underline;
}
.arconix-box-grey {
  background-color: #f2f2f2;
  clear: both;
  margin: 1em 0;
  padding: 1em;
  color: #666666;
}
.arconix-box-grey i.pull-left {
  margin-right: 0.75em;
}
.arconix-box-grey a {
  color: #ffffff;
}
.arconix-box-grey a:hover {
  text-decoration: underline;
}
.arconix-box-red {
  background-color: #e5684b;
  clear: both;
  margin: 1em 0;
  padding: 1em;
  color: #fff;
}
.arconix-box-red i.pull-left {
  margin-right: 0.75em;
}
.arconix-box-red a {
  color: #411409;
}
.arconix-box-red a:hover {
  text-decoration: underline;
}
.arconix-box-tan {
  background-color: #e5ac4b;
  clear: both;
  margin: 1em 0;
  padding: 1em;
  color: #fff;
}
.arconix-box-tan i.pull-left {
  margin-right: 0.75em;
}
.arconix-box-tan a {
  color: #412c09;
}
.arconix-box-tan a:hover {
  text-decoration: underline;
}
.arconix-box-yellow {
  background-color: #fee975;
  clear: both;
  margin: 1em 0;
  padding: 1em;
  color: #5a4c01;
}
.arconix-box-yellow i.pull-left {
  margin-right: 0.75em;
}
.arconix-box-yellow a {
  color: #ffffff;
}
.arconix-box-yellow a:hover {
  text-decoration: underline;
}
.arconix-box-purple {
  background-color: #923195;
  clear: both;
  margin: 1em 0;
  padding: 1em;
  color: #fff;
}
.arconix-box-purple i.pull-left {
  margin-right: 0.75em;
}
.arconix-box-purple a {
  color: #000000;
}
.arconix-box-purple a:hover {
  text-decoration: underline;
}
.arconix-box-black {
  background-color: #333333;
  clear: both;
  margin: 1em 0;
  padding: 1em;
  color: #fff;
}
.arconix-box-black i.pull-left {
  margin-right: 0.75em;
}
.arconix-box-black a {
  color: #000000;
}
.arconix-box-black a:hover {
  text-decoration: underline;
}
.arconix-box-orange {
  background-color: #cf5300;
  clear: both;
  margin: 1em 0;
  padding: 1em;
  color: #fff;
}
.arconix-box-orange i.pull-left {
  margin-right: 0.75em;
}
.arconix-box-orange a {
  color: #000000;
}
.arconix-box-orange a:hover {
  text-decoration: underline;
}
